<!DOCTYPE html>
<html> 
    <head>
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css')}}">
    </head>
    <body>
    <div class = "form-data">
    <form action = "{{ip}}/search" method="GET">
        <p> 
            Enter the term you want to search for!
            <input type = "text" name="term">
            <div class="snake-button">
             <input type = "submit" value="Submit"/>
            </div>

        </p>
    </form>
    </div>
    <img class="right-bottom" src = 'static/images/powered_by.png'/>
    </body>


</html>